.heading-m {
  font-size: 32px;
  font-weight: 700;
}

.heading-s {
  font-size: 24px;
  font-weight: 700;
}

.heading-xs {
  font-size: 16px;
  font-weight: 600;
}

.body-text-m {
  font-size: 16px;
  font-weight: 400;
}

.body-text-s {
  font-size: 14px;
  font-weight: 400;
}

.button-primary {
  background-color: var(--color-light-purple) !important;
  color: var(--color-white) !important;
  padding: 12px;
  border-radius: 6px;
}

.button-primary:hover {
  /* box-shadow: var(--shadow-hover) !important; */
  background-color: var(--color-purple) !important;
}

.button-primary:disabled {
  opacity: 0.25;
}

.button-primary:disabled:hover {
  background-color: var(--color-light-purple) !important;
}

.button-destructive {
  background-color: var(--color-red) !important;
  color: var(--color-white) !important;
  padding: 12px;
  border-radius: 6px;
}

.button-destructive:hover {
  background-color: var(--color-hover-red) !important;
}

.button-destructive:disabled {
  opacity: 0.25;
}

.button-destructive:disabled:hover {
  background-color: var(--color-red) !important;
}

label {
  user-select: none;
}

.label-borders {
  outline-width: 1px;
  outline-style: solid;
  outline-color: var(--color-theme-lines);
  border-radius: 8px;
  padding: 10px;
  transition: outline-width 0s, outline-color var(--duration) ease-in-out, background-color var(--duration) ease-in-out;
}

.label-borders:hover {
  outline-color: var(--color-light-purple);
  cursor: text;
}

.label-borders:focus-within {
  outline-width: 1px;
  outline-color: var(--color-light-purple);
  box-shadow: var(--shadow-hover);
}

.active-focus {
  outline-color: var(--color-light-purple) !important;
  box-shadow: var(--shadow-hover);
}

.nav-button {
  padding: 6px;
  border-radius: 8px;
  transition: border 0s, background-color var(--duration) ease-in-out;

  &:hover {
    background-color: var(--color-theme-secondary);
  }
}

.divider-x {
  height: 1px;
  background-color: var(--color-theme-lines);
  /* margin: 2px 0; */
  width: 100%;
}

.divider-y {
  width: 1px;
  background-color: var(--color-theme-lines);
  /* margin: 2px 0; */
  height: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 85vh;
  height: 100%;
  width: 80vw;
  background-color: var(--color-theme-primary);
  padding: 40px 28px;
  border: 1px solid var(--color-theme-lines);
  border-radius: 2px;
}

.ql-snow.ql-container {
  background-color: transparent;
  font-size: 18px !important;
}

.ql-video {
  width: 500px;
  height: 300px;
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: var(--color-theme-primary);
  border: 1px solid var(--color-theme-lines);
  border-radius: 4px;
  box-shadow: 0 1px 5px 2px rgba(0,0,0,0.1);
  min-width: 140px;
  z-index: 40;
}

.menu-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--color-theme-secondary);
  }
}

code {
  background-color: var(--color-theme-secondary) !important; /*#f4f4f4 */;
  padding: 2px 6px !important;
  border-radius: 4px !important;
  font-family: 'Courier New', monospace !important;
}

.modal {
  display: flex;
  gap: 20px;
  flex-direction: column;
  background-color: var(--color-theme-primary);
  padding: 32px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
}