.rich-editor {
  .ql-snow.ql-container {
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    background-color: var(--color-theme-primary);
    /* border: 1px solid var(--color-theme-lines) !important; */
    // border-top: none !important;
    /* transition: background-color var(--duration) ease-in-out; */
    transition: border-width 0s, border-color var(--duration) ease-in-out, background-color var(--duration) ease-in-out;
  }

  .ql-snow {
    .ql-editor {
      overflow-y: scroll;
      resize: vertical;
      outline: none !important;
    }
    
    .ql-picker {
      color: var(--color-theme-text) !important;
    }

    .ql-picker-options {
      background-color: var(--color-theme-secondary) !important;
    }
  }

  .ql-editor.ql-blank::before {
    color: #9CA3AF !important;
    font-style: normal !important;
  }

  .quill.error {
    & > .ql-toolbar {
      border-width: 2px !important;
      border-color: var(--color-red) !important;
      transition: border-width 0s, border-color var(--duration) ease-in-out, background-color var(--duration) ease-in-out;  
      padding: 7px !important;
    }

    & > .ql-container {
      border: 2px solid var(--color-red) !important;
      border-top: none !important;
    }

    & .ql-editor {
      padding: 12px 14px !important;
    
      &.ql-blank::before {
        left: 14px !important;
        right: 14px !important;
      }
    }
  }

  .quill {  
    & > .ql-toolbar {
      display: block;
      color: var(--theme-text);
      background: var(--color-theme-secondary);
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;
      border: 1px solid var(--color-theme-lines) !important;
      transition: border-width 0s, border-color var(--duration) ease-in-out, background-color var(--duration) ease-in-out;  
    }

    & > .ql-container {
      border: 1px solid var(--color-theme-lines) !important;
      border-top: none !important;
    }
    
    &:hover,
    &:focus-within {
      & > .ql-toolbar {
        border-color: var(--color-light-purple) !important;
      }

      & > .ql-container {
        border-color: var(--color-light-purple) !important;
        border-top: none !important;
        transition: border-width 0s, border-color var(--duration) ease-in-out;
      }
    }

    &:focus-within {
      & > .ql-toolbar {
        border-width: 1px !important;
        padding: 8px !important;
      }

      & > .ql-container {
        border-width: 1px !important;
      }

      & .ql-editor {
        padding: 12px 15px !important;
        
        &.ql-blank::before {
          left: 15px !important;
          right: 15px !important;
        }
      }
    }
  }

  .ql-snow.ql-toolbar {
    button,
    .ql-picker-label,
    .ql-picker-item {
      &:hover,
      &:focus,
      &.ql-active,
      &.ql-selected {
        color: var(--color-light-purple) !important;
      }

      &:hover,
      &:focus,
      &.ql-active {
        .ql-stroke,
        .ql-stroke-miter {
          stroke: var(--color-light-purple) !important;
        }

        .ql-fill,
        .ql-stroke.ql-fill,
        .ql-stroke-miter.ql-fill {
          fill: var(--color-light-purple) !important;
        }
      }
    }
  }
}