.social-icon {
  padding: 9px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: var(--color-theme-secondary);
  } 
}

.footer-wrap p {
  cursor: pointer;
  margin-left: 20px;

  &:hover {
    text-decoration: underline;
  }
}